## python sets

.Sets are used to store multiple items in a single variable.

Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

## CREATING SETS|

In [ ]:
## CREATING set

furit = { "apple" , "banana" , "orange"} 
print = {(type frutis)}
type = <set>

## Duplicates Not Allowed

In [11]:
cars = {"landlover","BMW","TATA","Mahindra","TATA"}
print(cars)

{'landlover', 'TATA', 'Mahindra', 'BMW'}

In [13]:
thisset = {"nithis", "oman", "jai", "mani", False, True, 0, 1}

print(thisset)

{False, True, 'mani', 'nithis', 'oman', 'jai'}

## Get the Length of a Set

In [21]:
thisset = {"nithis", "oman", "jai", "mani", False, True, 0, 1, 3}

print(len(thisset))

7

## The set() Constructor

In [23]:
thisset = set(("  "))

print(thisset)

{'mani', 'oman', 'jai', 'nithis'}

## ADD & UPDATE SET ITEMS IN PYTHON

The Python set() method is used for type casting.

Python sets cannot have a duplicate value and once it is created we cannot change its value.

The second code generates an error because we cannot assign or change a value once the set is created. We can only add or delete items in the set.

Python sets can store heterogeneous elements in it, i.e., a set can store a mixture of string, integer, boolean, etc datatypes.

This is based on a data structure known as a hash table.  If Multiple values are present at the same index position, then the value is appended to that index position, to form a Linked List.

In [39]:
## ADD item to a set in python

 .  The .add() method adds a single element to the set. If the element already exists in the set, it will not be added again (since sets only store unique elements).

In [26]:
#Add Items

. To add one item to a set use the add() method.

In [29]:
numbers = {9,5,7,2,54,3,2,5,32,5,23,4,2,9,0,2,11,334}
print('Initial Set:',numbers)
numbers.add(14)
print('Updated Set:',numbers)

Initial Set: {32, 0, 2, 3, 4, 5, 7, 9, 11, 334, 54, 23}
Updated Set: {32, 0, 2, 3, 4, 5, 7, 9, 11, 334, 14, 54, 23}

In [31]:
Set = {"apple", "banana", "cherry"}

Set.add("orange")

print(Set)

{'banana', 'cherry', 'apple', 'orange'}

## update python set


Before we dive into the details of updating Python, let’s briefly discuss why it’s important to keep your Python version up to date.

Python Set update() function does not return any values: it modifies the set in place by adding elements from another set (or any other iterable), without duplicates.

Set Update can be performed with the |= operator as well, providing an alternative to the update() method.

In [88]:
## Update of Two Sets with update() method

In [33]:
companies = {'microsoft','Technologies'}
tech_companies = {'apple','Google','apple','micron','apple','Tech Mahindra'}
update_companies = companies.update(tech_companies)
print(companies)

{'micron', 'Google', 'apple', 'Tech Mahindra', 'Technologies', 'microsoft'}

## Add Any Iterable

The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [5]:
A = {'Tom','jery''Anna'}
B = {'Doraman', 'nithin'}

A.update(B)
print(A)

{'Doraman', 'jeryAnna', 'nithin', 'Tom'}

## REMOVE ON ELEMENT FROM A SET

To remove an item in a set, use the remove(), or the discard() method.

If the item to remove does not exist, discard() will NOT raise an error.

In [37]:
##Remove Item

You can also use the pop(), method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

In [39]:
thisset = {"apple", "banana", "cherry","pine apple"}

thisset.remove("banana")
thisset.discard("cherry")

print(thisset)

{'apple', 'pine apple'}

## Python Set Operations

. Python Set Provides different built-in methods to perform mathematical set operations like union,intersection, difference, symmetric_difference.

In [43]:
# 1. Union

. The union() method returns a new set with all items from both sets.
. The union of two sets A and B include all the elements of set A and B.
. Combines elements from two sets, removing duplicate

In [47]:
c = {1,3,5,9,4}
d = {0,2,4,7,8}
print('union using |:', c|d)

print('union using union():',c.union(d))

union using |: {0, 1, 2, 3, 4, 5, 7, 8, 9}
union using union(): {0, 1, 2, 3, 4, 5, 7, 8, 9}

In [49]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'Elena', 1, 2, 3, 'b', 'bananas', 'John', 'a', 'cherry', 'c', 'apple'}

In [51]:
# 2. Set Intersection

 .The intersection() method will return a new set, that only contains the items that are present in both sets.
 .The intersection of two sets A and B include the commomn elements between set A and B.
 .Returns common elements between two sets.
 ))

In [56]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [58]:
# 3. Difference between Two Sets

 .The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.
 .The difference between two sets A and B include elements of set A that are not present on set B.
 .Returns elements that are in the first set but not in the second.

A = {2, 3, 5, 9, 0, 4}
B = {1, 2, 6, 4, 7}

print('Difference using -:', A - B)

print('Difference using difference():', A.difference(B))

In [63]:
print('Difference using -:', B - A)

print('Difference using difference():',B.difference(A))

Difference using -: {1, 6, 7}
Difference using difference(): {1, 6, 7}

In [65]:
# 4.Set Symmetric Differences

. The symmetric_difference() method will keep only the elements that are NOT present in both sets.
. The symmetric difference between two set A and B includes A and B without the common elements.
. Returns elements that are in either of the sets, but not in both.

In [76]:
A = {2, 3, 5, 7, 8, 4}
B = {1, 2, 6, 4, 9}

print('using ^:',A ^ B)

print('using symmetric_difference():',A.symmetric_difference(B))

using ^: {1, 3, 5, 6, 7, 8, 9}
using symmetric_difference(): {1, 3, 5, 6, 7, 8, 9}


## Python - Set Methods

. Python has a set of built-in methods that you can use on sets.

Method	       Shortcut	            Description

add()		                 Adds an elemnet to the set

In [ ]:
clear()	                   	Removes all the elements from the set

copy()		                Returns a copy of the set

difference()    	-	    Returns a set contaning the difference between two or more sets

difference_update()	-=	     Removes the items in this set that are also included in another specified set

discard()		             Remove the specified item

intersection()	&            Returns a set, that is the intersection of two other sets

intersection_update()	&=	    Removes the items in this set that are not present in other, specified set(s)

isdisjoint()		            Returns whether two sets have a intersection or not

    issubset()	<=             Returns whether another set contains this set or not
    
                <	            Returns whether all items in this set is present in other, specified set(s)

    issuperset()	>=	          Returns whether this set conatins another set or not

                   >	       Returns whether all items in other, specified set(s) is present in this set.

    pop()		              Removes an element from the set

remove()	                 	Removes the specified element

symmetric_difference()  	^	  Returns a set with the symmetric difference of two sets

symmetric_difference_update() 	^=	  Inserts the symmetric difference from this set and another

union()           	I	                       Return a set contaning the union of stes

update()	       I=	     Update the set with the union of this set and others

## 1. add():

. The add() method adds an element to the set.

. If the element already exists, the add() method does not add the element

## Syntax

In [ ]:

set.add(elmnt)

In [14]:

visited_places = {"Vizag","Araku","Ananthagiri Hills","Tirupati"}
visited_places.add("Kakinada")
print(visited_places)

{'Kakinada', 'Ananthagiri Hills', 'Vizag', 'Araku', 'Tirupati'}

## 2.clear():

The clear() method removes all elements in a set.

In [ ]:

set.clear()

names = {"nithis", "oman", "jai", "mani"}
names.clear()
print(names)

## 3.copy():

The copy() method copies the set.

## Syntax

In [ ]:
set.copy()

In [32]:
car_companies = {"Nexa","Maruthi Suziki","Honda","Audi","Benz"}

car = car_companies.copy()

print(car)

{'Nexa', 'Honda', 'Maruthi Suziki', 'Benz', 'Audi'}


## 4.difference():

. The difference() method returns a set that contains the difference between two set

  ## Syntax

set.difference(set1, set2 ... etc.)

In [42]:
fruits = {"apple","orange","cherry","watermelon"}
companies = {"google", "microsoft", "apple"}

vamshi = fruits.difference(companies)
print(vamshi)

{'cherry', 'watermelon', 'orange'}

# 5.difference_update():

 . The difference_update() method removes the items that exist in both sets.

# Syntax

In [ ]:
set.difference_update(set1, set2 ... etc.)

In [46]:
fruits = {"apple","orange","cherry","watermelon"}
companies = {"google", "microsoft", "apple"}

fruits -= companies

print(fruits)

{'cherry', 'orange', 'watermelon'}

# 6. discard():

In [ ]:
The discard() method removes the specified item from the set.

# Syntax


set.discard(value)

In [59]:
names = {"nithis","vamshi", "oman", "jai", "mani"}

names.discard("vamshi")

print(names)

{'nithis', 'oman', 'jai', 'mani'}

## 7. intersection():

In [ ]:
The intersection() method returns a set that contains the similarity between two or more sets.

# syntax

In [ ]:
set.intersection(set1, set2 ... etc.)

In [63]:
fruits = {"apple","orange","cherry","watermelon"}
companies = {"google", "microsoft", "apple"}

vamshi = fruits.intersection(companies)

print(vamshi)

{'apple'}

# 8. intersection_update():

The intersection_update() method removes the items that is not present in both sets(or in all sets if the comparison is done between more than two sets).

In [ ]:
set.intersection_update(set1, set2 ... etc)

In [68]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}

a &= b #a.intersection_update(b) 

print(a)

{'apple'}

# 9.isdisjoint():

The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.

set.isdisjoint(set)

In [71]:
colours = {"White","Yellow","Blue","Green","Black"}
numbers = [1,2, 3, 4, 5]

vamshi= colours.isdisjoint(numbers)

print(vamshi)

True

# 10. issubset():

The issubset() method returns True if all items in the set exists in the specified set, otherwise it returns False.

set.issubset(set1)

In [76]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x <= y

print(z)

True