## python variables:

Python Variables : Python Variable is containers that store values. Python is not “statically typed”. We do not need to declare variables before using them or declare their type. A variable is created the moment we first assign a value to it. A Python variable is a name given to a memory location. It is the basic unit of storage in a program.

Rules Of Variables : . A Python variable name must start with a letter or the underscore character. . A Python variable name cannot start with a number. . . A Python variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ) . . Variable in Python names are case-sensitive (name, Name, and NAME are three different variables ) . . The reserved words(keywords) in Python cannot be used to name the variable in Python.

In [5]:
#Vaild variables
myvar = "vamshi"
my_var = "Apple"
_my_var = "laxman"
weight = 70.80
MY_VAR = "siddu"
myvar2 = "balu"
Set_234 = {2,3,4}
List_states = ["AP","TS","BBS"]
a = 100
name = "vamshi"
is_student = True
fruits = ["Apple","Mango","Jackfruit"]
balu_bool = False
personal_info = {"balu","education","B.Tech","City"}
vamshivamu = { "python","SQL","JAVA"}

print(myvar)
print(my_var)
print(_my_var)
print(weight)
print(MY_VAR)
print(myvar2)
print(Set_234)
print(List_states)
print(a)
print(name)
print(is_student)
print(fruits)
print(Shiva_bool)
print(personal_info)
print(vamshivamu)

vamshi
Apple
laxman
70.8
siddu
balu
{2, 3, 4}
['AP', 'TS', 'BBS']
100
vamshi
True
['Apple', 'Mango', 'Jackfruit']
False
{'education', 'City', 'B.Tech', 'balu'}
{'SQL', 'JAVA', 'python'}

In [7]:
#Invalid variables
#Vaild variables
2myvar = "vamshi"
@my_var = "Apple"
_my_var 1 = "bunty"
weight 0 = 70.80
#MY_VAR = "mani"
*myvar2 = "siddu"
2Set_234 = {2,3,4}
%List_states = ["AP","TS","BBS"]
+a = 100
=name = "vamshi"
&is_student = True
-fruits = ["Apple","Mango","Jackfruit"]
,bunty_bool = False
/personal_info = {"vamshi","education","B.Tech","City"}
vamshivamu = { "python","SQL","JAVA"}

print(2myvar)
print(@my_var)
print(_my_var 1)
print(weight 0)
print(#MY_VAR)
print(*myvar2)
print(2Set_234)
print(%List_states)
print(+a)
print(=name)
print(&is_student)
print(-fruits)
print(,bunty_bool)
print(/personal_info)
print(vamshivamu)

SyntaxError: invalid decimal literal (858041140.py, line 3)

## Multiple Variables:

Multiple Variables : Python allows you to assign values to multiple variables in one line Examples :

In [11]:
x, y, z = "Orange", "Strawberry", "Cherry"
print(x)
print(y)
print(z)

Orange
Strawberry
Cherry

One value in multiple variables example

In [16]:
x = y = z = "Strawberry"
print(x)
print(y)
print(z)

Strawberry
Strawberry
Strawberry

## Python Type Function

Python Type Function : The type() function returns the type of the specified object

Example :

In [26]:
x = 10
print(type(x))

<class 'int'>

In [28]:
a = ('apple', 'banana', 'cherry')
b = "Hello World"
c = 33

x = type(a)
y = type(b)
z = type(c)

print(x)
print(y)
print(z)

<class 'tuple'>
<class 'str'>
<class 'int'>